<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.jimmy.mlkit">

    <application>
        <activity
                android:name=".ui.views.googleLensClone.GoogleLens"
                android:label="@string/title_activity_google_lens"
                android:theme="@style/AppTheme.NoActionBar">
        </activity>
    </application>

</manifest>