<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.jimmy.mlkit">

    <uses-permission android:name="android.permission.CAMERA" />

    <application>
        <activity
                android:name=".ui.views.googleLensClone.GoogleLens"
                android:label="@string/title_activity_google_lens"
                android:theme="@style/AppTheme.NoActionBar">

            <intent-filter>
                <action android:name="action.googlelens.open"/>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

        </activity>
        <meta-data android:name="preloaded_fonts" android:resource="@array/preloaded_fonts"/>
    </application>

</manifest>